<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Placement Informations</title>
	<link rel="stylesheet" href="CSS/style1.css" type="text/css" charset="utf-8" />	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	
</head>
<body>
<div class="menu-bar">
  <ul>
  <li><a href="/home"><i class="fa fa-home"></i> HOME</a></li>
  <li><a href="/aboutus"><i class="fa fa-user"></i>ABOUTUS</a></li>
  <li class="active"><a href="/campus"><i class="fa fa-edit"></i>CAMPUS</a></li>
  <li ><a href="/contactus"><i class="fa fa-phone"></i>CONTACT</a></li>
  </ul>
  </div>
 
	<div id="adbox">
		<div class="body">
			<div class="images">
				<img src="images/images-A.jpg" alt="Img" class="preview" />
				<img src="images/images-B.jpg" alt="Img" height="144" width="230px" />
				<img src="images/groupImage.jpg" alt="Img" height="135" width="230px" class="last" />
			</div>
			<div class="details">
				<p>
					<span>
					<b>You can able to view the off campus and on campus informations</b>
					</span>
					<b>This will help you to get your dream job</b>
				</p>
			</div>
		</div>
		<div class="footer">
			<ul>
				
				<li>
					<a href="index.html#oncampus"><img src="images/images (12).jpg"height="100" width="100px"alt="Img" /></a>
					<p>
						<a href="index.html#oncampus">ONCampus</a><br/>
						Here you can find the off campus details with Eligibility Criteria
					</p>
				</li>
				<li>
					<a href="index.html#offcampus"><img src="images/meeting2.jpg" alt="Img" /></a>
					<p>
						<a href="index.html#offcampus">OffCampus</a><br/>
						Here you can find the off campus details with Eligibility Criteria
					</p>
				</li>
				
			</ul>
			<span class="bottom-shadow"></span>
		</div>
	</div> 
	<div id="contents">
		<div class="body">
			<div id="oncampus">
				<h2>On/Off Campus Placement Eligibility Criteria 2022:</h2>
				<ul>
					<li>Placement eligibility criteria:</li>
					<li>Minimum 60 % throughout in Class X, XII</li>
					<li>Minimum 60 % in Graduation</li>
					<li>Education gap of maximum up to 1 year is allowed.</li>
					<li>Only fresher are eligible</li>
					<li>NO Backlog(s) are allowed on time of joining</li>
					<li>Sometime Tech Mahindra keeps the 70% throughout totally varies college to college.</li>
				</ul>
			</div>
			<div id="offcampus">
				<span>AMCAT Registration 2022 | Cognizant, TCS, HCL, Accenture | Apply online</span>
				<ul>
					<li>Eligibility Criteria for  Off Campus</li>
					<li>Candidates who have completed their professional degree in 2019 or 2022 only.</li>
					<li>The candidates who have passed full time programme like B.E/ B.Tech/ M.E/ M.Tech/ M.Sc/ MCA in 2019 or 2022.</li>
					<li>Any stream of engineering student can apply.</li>
					<li>Max 2 years of gap in academics are allowed.</li>
					<li>Backlog students are not allowed to appear in this IT giant drive.</li>                             
					<li>A candidate should have minimum aggregate of 60% through out 10th, 12th, Diploma, UG and PG.</li>
					<li>If you have more than 3 years working experience then you will not be allowed in this recruitment process.</li>
				</ul>
				
			</div>
		</div>
	</div> 
	<div id="footer">
		
		<span class="footnote">&copy; Copyright &copy; 2022. All rights reserved</span>
	</div> 
</body>
</html>